<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Alquiler de vehículos</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- ciudad Column -->
                    <ng-container matColumnDef="ciudad">
                        <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> # </th>
                        <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                            {{element.ciudad}} </td>
                    </ng-container>

                    <!-- nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                            {{element.city}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element columns: displayedColumns;"></tr>
                </table>


            </mat-grid-tile>

            <mat-grid-tile>
                <table mat-table [dataSource]="dataSourceAutos" class="mat-elevation-z8">

                    <!-- ciudad Column -->
                    <ng-container matColumnDef="vehiculo">
                        <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Vehículo </th>
                        <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                            {{element.vehiculo}} </td>
                    </ng-container>

                    <!-- nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                            {{element.nombre}}</td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                        <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Precio x hora
                            $us </th>
                        <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                            {{element.precio}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo;"></tr>
                </table>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nuevo Alquiler</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="2:1">
            <form [formGroup]="form"  method="post">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Número ciudad</mat-label>
                        <mat-select formControlName="ciudad" name="ciudad">
                            <mat-option *ngFor="let numero of Ciudades" [value]="numero.ciudad">
                                {{numero.ciudad}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo vehículo</mat-label>
                        <mat-select formControlName="tipo" name="tipo">
                            <mat-option *ngFor="let tipo of Info" [value]="tipo.nombre">
                                {{tipo.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label># autos alquilados</mat-label>
                        <input formControlName="autos" matInput placeholder="">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Total horas alquiler</mat-label>
                        <input formControlName="horas" matInput placeholder="">
                    </mat-form-field>
                </mat-grid-tile>
            </form>


        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions class="buttons">
        <button mat-raised-button color="primary" (click)="registrar()">Registrar</button>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Alquileres Registrados</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <table mat-table [dataSource]="dataSourceAlquiler" class="mat-elevation-z8">

                <!-- ciudad Column -->
                <ng-container matColumnDef="ciudad">
                    <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> # ciudad </th>
                    <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                        {{element.ciudad}} </td>
                </ng-container>

                <!-- nombre Column -->
                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Tipo vehículo </th>
                    <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                        {{element.tipo}}</td>
                </ng-container>

                <ng-container matColumnDef="autos">
                    <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> # autos alquilados </th>
                    <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                        {{element.autos}} </td>
                </ng-container>

                <ng-container matColumnDef="horas">
                    <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Total horas alquiler</th>
                    <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                        {{element.horas}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsThree"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsThree;"></tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile>
            <div  class="mat-elevation-z8">
                <div class="tableConsulta overflow-horizontal">
                    <table mat-table [dataSource]="dataSourceResume" class="shadow-sm w-100 h-100">

                        <!-- ciudad Column -->
                        <ng-container matColumnDef="ciudad">
                            <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> # ciudad </th>
                            <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                                {{element.ciudad}} </td>
                        </ng-container>
        
                        <!-- nombre Column -->
                        <ng-container matColumnDef="nombreCiudad">
                            <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center"> Nombre Ciudad </th>
                            <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                                <ng-container *ngFor = "let name of Ciudades">  
                                    <ng-container *ngIf="name.ciudad == element.ciudad">
                                        {{name.city}}
                                    </ng-container>                        
                                    
                                </ng-container>
                                </td>
                        </ng-container>
        
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef class="text-inverse font-bold text-center">Total recaudado </th>
                            <td mat-cell *matCellDef="let element" class="justify-content-center text-center">
                                {{element.total}} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFour"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFour;"></tr>
                    </table>
                </div>
            </div>
        
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card-content>
    
</mat-card>
<mat-card>

</mat-card>